<table>
  <tr>
    <td valign="top"><img src="<%= @tv_show.imdb_picture_link %>" width="200" height="200"></td>
    <td>&nbsp;&nbsp;</td>
    <td valign="top">
      <p>
      <strong>My Rating: </strong> <%= @tv_show.own_rating %><br/><br/>
      <strong>IMDB Rating: </strong> <%= @tv_show.imdb_rating %>
      <br/><br/>
      <a href="<%= @tv_show.imdb_link %>">Go to IMDB for more information</a>
      </p>
      <p> 
        <strong>My comment for the movie:</strong><br>
        <%= @tv_show.own_comments %>

      </p>
    </td> 

  </tr>
</table>


